.wrapper {
    min-height: 100vh;
    background-color: #C3FBAB;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
}

.main {
    display: grid;
    grid-template-rows: 75px 1fr;
    gap: 25px;
}

.page {
    width: 600px;
    margin: 0 auto;
}
